.header-container {
    margin: 0;
    padding: 0;
}

.toolbar-container {
    max-height: 70px !important;
    min-height: 48px !important;
    padding: 11px;
    margin: 0;
    background-color: purple;
}

.header-logo-image {
    height: 35px;
    background-color: #ff7f7f;
    align-content: flex-start;
    margin-right: 10px;
}

.card-header {
    max-height: 70px !important;
    min-height: 48px !important;
    padding: 11px;
    margin: 0;
    background-color: purple;
    color: white;
}